.pagination {
    padding: 0 15px;
    margin-top: 30px;
    &-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        &__item {
            span.current {
                background-color: $error500;
                color: #fff !important;
                border: 1px solid $error500;
            }
            &:hover {
                a,
                span {
                    color: $error500;
                    border-color: $error500;
                }
            }
            &.prev,
            &.next {
                a{
                    font-size: 24px;
                }
                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include adaptiv-value('width', 44, 38, 1);
                    @include adaptiv-value('height', 44, 38, 1);
                    &:hover {
                        border-color: $error500;
                    }
                }
            }
            a.next,
            a.prev {
                border: none;
            }
            a,
            span {
                display: flex;
                align-items: center;
                border-radius: 50%;
                justify-content: center;
                background: transparent;
                color: #afafaf;
                border: $border;
                transition: 0.3s;
                @include adaptiv-value('width', 44, 38, 1);
                @include adaptiv-value('height', 44, 38, 1);
            }
        }
    }
}
