.pagination {
    padding: 0 15px;
    margin-top: 30px;
    &-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        li {
            span.current {
                background-color: $error500;
                color: #fff !important;
                border: 1px solid $error500;
            }
            &:hover {
                a,
                span {
                    color: $error500;
                    border-color: $error500;
                }
            }
            a.prev,
            a.next {
                i {
                    font-size: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $neutral900;
                    @include adaptiv-value('width', 44, 38, 1);
                    @include adaptiv-value('height', 44, 38, 1);
                    transition: .3s;
                    &:hover {
                        border-color: $error500;
                        color: $error500;
                    }
                }
            }
            a,
            span {
                display: flex;
                align-items: center;
                border-radius: 50%;
                justify-content: center;
                background: transparent;
                color: #afafaf;
                border: $border;
                transition: 0.3s;
                @include adaptiv-value('width', 44, 38, 1);
                @include adaptiv-value('height', 44, 38, 1);
            }
        }
    }
}
