.product-modal{
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    @include adaptiv-value('gap', 50, 30, 1);
    max-width: 1200px;
    width: 100%;
    background-color: #FFF;
    @include adaptiv-value('padding', 60, 40, 1);
    transition: .2s ease-in;
    z-index: 11;
    opacity: 0;
    visibility: hidden;

    @media (max-width: $mobile){
        height: 100%;
        overflow: auto;
        flex-direction: column;
        padding: 50px 30px;
    }   
    &.open{
        top: 50%;
        opacity: 1;
        visibility: visible;
    }

    &__close{
        position: absolute;
        @include adaptiv-value('top', 30, 15, 1);
        @include adaptiv-value('right', 30, 15, 1);
        @include adaptiv-value('font-size', 32, 24, 1);
        cursor: pointer
    }

    img{
        @include adaptiv-value('width', 500, 300, 1);
        @media (max-width: $mobileSmall){
            width: 100%;
        }
    }

    h1{
        @include adaptiv-value('margin-bottom', 20, 10, 1);
    }
    
    p{
        margin-bottom: 10px;
    }
    ul{
        li{
            list-style-type: disc;
        }
    }
}