.structura-modal {
    max-width: 1200px;
    width: 100%;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    opacity: 0;
    visibility: hidden;
    display: flex;
    background-color: #FFF;
    @include adaptiv-value('padding', 60, 40, 1);
    transition: .3s ease-in;
    @media (max-width: $mobile) {
        height: 100%;
        flex-direction: column;
        overflow: auto;
        padding: 60px 15px;
    }
    &.open {
        top: 50%;
        opacity: 1;
        visibility: visible;
    }
    .page__structura-slider {
        .structura-slider__body {
            @include adaptiv-value('width', 600, 200, 1);
            @media (max-width: $mobile) {
                width: 100%;
            }
            .structura-slider__slider {
                position: relative;
                .slider-structura__body {
                    .slider-structura__slide {
                        border-radius: 8px;
                        @media (max-width: $mobile) {
                            width: 100% !important;
                        }
                        img {
                            max-width: 600px;
                            max-height: 500px;
                            @media (max-width: $mobile) {
                                margin: 0 auto;
                                max-width: 100%;
                            }
                        }
                    }
                }
                .slider-structura-controls {
                    &__dots {
                        .swiper-pagination-bullet {
                            &-active {}
                        }
                    }
                    &__arrows {
                        .slider-arrow {
                            z-index: 13;
                            &__prev {
                                left: 10px;
                            }
                            &__next {
                                right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    &__desc {
        h1 {
            @include adaptiv-value('margin-bottom', 20, 10, 1);
        }
        p {
            @include adaptiv-value('margin-bottom', 20, 10, 1);
        }
    }
    &__info {
        overflow-y: scroll;
        max-height: 300px;
    }
    &__buttons {
        display: flex;
        @media (max-width: $mobileSmall) {
            flex-direction: column;
        }
    }
    &__close {
        position: absolute;
        @include adaptiv-value('top', 30, 15, 1);
        @include adaptiv-value('right', 30, 15, 1);
        @include adaptiv-value('font-size', 32, 24, 1);
        cursor: pointer;
    }
}