$neutral900: #2C2C30;
$neutral800: #3F4047;
$neutral700: #72747D;
$neutral600: #A3A6B7;
$neutral500: #C3C4CD;
$neutral400: #DFE0E7;
$neutral300: #E8EAF1;
$neutral200: #EDEFF5;
$neutral100: #F8F9FB;

$primary900: #003999;
$primary800: #004BAF;
$primary700: #005DC5;
$primary600: #0169CD;
$primary500: #3684F3;
$primary400: #5699FF;
$primary300: #72AEFF;
$primary200: #8CC4FF;
$primary100: #B9DDFF;
$primary50: #EFF8FF;

$violet900: #382986;
$violet800: #4E3B9B;
$violet700: #644EB1;
$violet600: #7A61C6;
$violet500: #9075DD;
$violet400: #A689F4;
$violet300: #BD9FFF;
$violet200: #D4B5FF;
$violet100: #EDD1FF;
$violet50: #FEF1FF;

$orange900: #832F00;
$orange800: #9B2500;
$orange700: #B44405;
$orange600: #CD401B;
$orange500: #E6572F;
$orange400: #FF6D42;
$orange300: #FF8356;
$orange200: #FF996A;
$orange100: #FFD6BD;
$orange50: #FFF4EA;

$teal900: #004652;
$teal800: #005A65;
$teal700: #006E79;
$teal600: #00828D;
$teal500: #0097A2;
$teal400: #00ADB8;
$teal300: #0EC3CE;
$teal200: #94F8FF;
$teal100: #CFFCFF;
$teal50: #E3FFFF;

$error900: #83000C;
$error800: #9B001C;
$error700: #B4262D;
$error600: #CD3E3F;
$error500: #EF4C49;
$error400: #FF6059;
$error300: #FF8279;
$error200: #FF988E;
$error100: #FFCDC6;
$error50: #FFECE8;

$warning900: #5F370E;
$warning800: #895118;
$warning700: #AF6E26;
$warning600: #CA8828;
$warning500: #E9AF3D;
$warning400: #FAD759;
$warning300: #FFEB76;
$warning200: #FFF7A6;
$warning100: #FFFED7;
$warning50: #FFFFE7;

$success900: #004618;
$success800: #005929;
$success700: #006E39;
$success600: #00944D;
$success500: #32A75A;
$success400: #57BD7A;
$success300: #75D390;
$success200: #85EBAE;
$success100: #CBFFE0;
$success50: #E8FFEE;