<div class="cart-popup">
    <div class="cart-popup__header">
        <h2>Coșul</h2>
        <button class="cart-popup__close mdi mdi-close"></button>
    </div>
    <div class="cart-popup__body">
        <!-- <div class="cart-empty">
            <p>Nu aveți nici un produs în coș</p>
        </div> -->
        <div class="cart-items__list cart-items">
            <div class="cart-items__item cart-item">
                <img src="@img/product.jpeg" class="cart-item__image" alt="" />
                <div class="cart-item__body item-body">
                    <a href="#" class="item-body__name">Aspernatur voluptatem vel. </a>
                    <div class="item-body__footer item-footer">
                        <div class="item-footer__price">Preț (mdl): <strong>30</strong></div>
                        <div class="item-footer__controls">
                            <button class="button button__edit">
                                <i class="mdi mdi-minus"></i>
                            </button>
                            <div class="button button__edit no-hover">1</div>
                            <button class="button button__edit">
                                <i class="mdi mdi-plus"></i>
                            </button>
                            <button class="button button__delete">
                                <i class="mdi mdi-close"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cart-items__item cart-item">
                <img src="@img/product.jpeg" class="cart-item__image" alt="" />
                <div class="cart-item__body item-body">
                    <a href="#" class="item-body__name">Aspernatur voluptatem vel. </a>
                    <div class="item-body__footer item-footer">
                        <div class="item-footer__price">Preț (mdl): <strong>30</strong></div>
                        <div class="item-footer__controls">
                            <button class="button button__edit">
                                <i class="mdi mdi-minus"></i>
                            </button>
                            <div class="button button__edit no-hover">1</div>
                            <button class="button button__edit">
                                <i class="mdi mdi-plus"></i>
                            </button>
                            <button class="button button__delete">
                                <i class="mdi mdi-close"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-items__item cart-item">
                <img src="@img/product.jpeg" class="cart-item__image" alt="" />
                <div class="cart-item__body item-body">
                    <a href="#" class="item-body__name">Aspernatur voluptatem vel. </a>
                    <div class="item-body__footer item-footer">
                        <div class="item-footer__price">Preț (mdl): <strong>30</strong></div>
                        <div class="item-footer__controls">
                            <button class="button button__edit">
                                <i class="mdi mdi-minus"></i>
                            </button>
                            <div class="button button__edit no-hover">1</div>
                            <button class="button button__edit">
                                <i class="mdi mdi-plus"></i>
                            </button>
                            <button class="button button__delete">
                                <i class="mdi mdi-close"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-popup__footer">
        <a href="#" class="cart-popup__all">Vezi toate produsele</a>

        <div class="cart-popup__total cart-total">
            <span class="cart-total__price">4500 mdl</span>
            <a href="#" class="button button__gray cart-total__checkout">Spre achitare</a>
        </div>
    </div>
</div>
