<nav class="page-navigation align-center gap-1">
    <a href="#" class="button button__filter active">Introducere</a>
    <a href="#" class="button button__filter">Conducerea</a>
    <a href="#" class="button button__filter">Statutul</a>
    <a href="#" class="button button__filter">Istoric</a>
    <a href="#" class="button button__filter">Rapoarte</a>
    <a href="#" class="button button__filter">Certificate</a>
    <a href="#" class="button button__filter">Cariera</a>
    <a href="#" class="button button__filter">Baza de odihnă</a>
</nav>
