<div class="pagination">
    <ul class="pagination__list pagination-list">
        <li class="pagination-list__item prev">
            <a href="#" class="mdi mdi-chevron-left"></a>
        </li>
        <li class="pagination-list__item">
            <span class="current">1</span>
        </li>
        <li class="pagination-list__item"><a href="#">2</a></li>
        <li class="pagination-list__item"><a href="#">3</a></li>
        <li class="pagination-list__item next">
            <a href="#" class="mdi mdi-chevron-right"></a>
        </li>
    </ul>
</div>
