.content-page {
    margin-top: 50px;
    @include adaptiv-value('margin-bottom', 80, 50, 1);
    .title-separator {
        margin-bottom: 30px;
    }
    h1 {
        text-align: center;
        margin-bottom: 30px;
    }

    .wp-block-table {
        overflow: auto;
        padding: 2px;
    }
}
